@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Raleway:wght@100&display=swap');
html,body{
  width:100%;
    margin:0;
    background-color: rgb(91, 91, 91);
    color:#65fb6d;
    text-align: center;
    font-family: Raleway;
}
ul{
    display: block;
    text-align: center;
   c
    margin: 0px;
    height: 60px;
}
li{
  display:inline;
  line-height: 60px;
  font-size: 20px;
  font-family: Raleway;
  color: white;

}
  a{
    color:black;
  } 


input[type=text], select, textarea {
  font-size: 15px;
  width: 100%; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 30px; 
  box-sizing: border-box;
  margin-top: 8px; 
  margin-bottom: 18px; 
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: pink;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;

}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #898a89;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color:#63e56a;
  padding: 20px;
  color: rgb(251, 247, 247);
  font-size: 20px;
  font-weight: bolder;
}
  

  footer{
      display: block;
      text-align: center;
      padding: 3px;
      background-color:pink;
      color:#111;
    
      }


header{text-align: center; font-family: 'Raleway', sans-serif
}


p{
  font-size: 25px;
}
.pull-left img{
  height: 100px;
  float: left;
}
.pull-left{
  width: 50%;
float:left;

}
.pull-right{
  width:50%;
  float:right;
 
}
.pull-right ul{
  padding:0;
}
.navbar{
  height: 100px;
  width:100%;
  background-color:#63e56a;
}
.paragraph{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 200px;
  margin-right: 200px;
}
.paragraph p{
  margin-bottom: 2px;

}